Cap2_EDA.ipynb  
Cap2_impute1-Copy1.ipynb
Cap2_impute1.ipynb 
Cap3_modelEDA-Copy1.ipynb
Cap3_modelEDA.ipynb 
gradient_boost.ipynb  
knn_z.ipynb 
my_data.db  
predict_proba-Copy2.ipynb
predict_proba.ipynb
hot_encode_fordisplay.csv
Untitled2.ipynb
 
sqlite_play.ipynb
Untitled1.ipynb
Untitled.ipynb
Untitled2.ipynb
Untitled3.ipynb
Untitled4.ipynb 
creating_datafram
temp_csv 

.ipynb_checkpoints/ 
